@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Handlee&family=Pathway+Gothic+One&display=swap");

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
